error: open(".vs/Freelance.WebUI/v16/Server/sqlite3/db.lock")[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[D[[C[C[C[C[C[C[C[C[C[C[C[C[
.vs/Freelance.WebUI/v16/Server/sqlite3/db.lock
.vs/Freelance.WebUI/v16/Server/sqlite3/db.lock'
.vs/Freelance.WebUI/v16/Server/sqlite3/db.lock
